{% # theme-check-disable ContentForHeaderModification %}
{%- liquid
  assign theme_st = settings
  assign search_type = theme_st.search_type
-%}
{% liquid
  assign enable_rtl = settings.rtl
  assign iso_code = request.locale.iso_code
  assign lis_language_rtl = settings.language_rtl
  if lis_language_rtl != blank
    if lis_language_rtl contains iso_code
      assign enable_rtl = true
    else
      assign enable_rtl = false
    endif
  endif
%}
{% if search_type == 'default' or search_type == 'popup' %}
  {{ 'search-type-default.css' | asset_url | stylesheet_tag }}
{% endif %}
<div class="header_search {% if type == 'header_mega' %}header_search-mega{% endif %}">
  <div class="block block-quick-search block-search predictive_search_suggest search_{{ search_type }}{% if search_type == 'default' %} search-type-default me-md-10{% endif %}">
    <div class="search-modal search-full">
      <div class="search-modal__content">
        <form
          method="get"
          action="/search"
          class="custom-search-bar"
          role="search"
          style="margin:auto; max-width: 100%;"
        >
          <div class="search-bar-flex">
            <select name="collection" id="collection-select" class="search-bar-select">
              <option value="">{{ 'general.search.all_categories' | t }}</option>
              {%- for collection in collections -%}
                <option value="{{ collection.handle }}">{{ collection.title }}</option>
              {%- endfor -%}
            </select>
            <input
              type="search"
              name="q"
              class="search-bar-input"
              placeholder="{{ 'general.search.search' | t }}"
              aria-label="{{ 'templates.search.tooltip' | t }}"
              required
            >
            <button type="submit" class="search-bar-btn">{{ 'templates.search.tooltip' | t }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



